

.create-course-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.assign{
    margin-top: -90px;
    position: relative;
}


.label-course-create{
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
}

.form-course-create{
    padding-top: 50px;
    margin-top: 200px;
}

.form-container{
    background-color: rgb(195, 192, 192);
    padding-bottom: 50px;
    border-radius: 5px;
}

h4{
    text-align: left;
    padding-bottom: 10px;
}

li {
    
    text-align: left;
  }