.indiv-trainer-content{
    padding: 0 10%;
}

.bg-box{
    background-color: rgb(195, 192, 192);
}

.indiv-trainer-learner{
    padding-top: 4%;
}

.learner-profile-layout{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.indiv-trainer-imageclass{
    object-fit: cover;
    width: 155px;
    height: 200px;
    margin-top: 5%;
}

.indiv-trainer-headerspace{
    text-align: left;
    margin-left: 5%;
    padding: 1%;     
}

.indiv-trainer-headertext{
    font-weight: bold;
}

.assign-learner-btn{
    margin: 4% 0%;
}