.content{
    height: 700px;
    background-color: rgb(195, 192, 192);
    margin-top: 130px;
}

.headerspace{
    text-align: left;
    margin: 50px;
    position: relative;
    top: 40px;
     
}

.name{
    position: relative;
    top: 50px;
}

.headertext{
    font-weight: bold;
    margin-right: 5px;
}

.imageclass{
    margin: 50px;
    margin-right: 100px;
    float:right;
    object-fit: cover;
    width: 155px;
    height: 200px;
}

.assign{
    margin-top: -90px;
    position: relative;
}

.learner{
    margin-left: 46%;
}