.menu{
    position: fixed;
    vertical-align: middle;
    top: 0%;
    left: 0%;
    /* height: 8%; */
    width: 100%;
    background: #ECF6FF;
    z-index: 9999;
}

a{
    text-decoration: none;
    color: black;
}

a:active{
    font-weight: 600;
}