.test-sticky-top{
    position: sticky;
    z-index: 10;
    top: 10%;
    background-color: white;
}

.test-header{
    padding: 0 10%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: -40px;
}

.test-name{
    margin-top: 5%;
}

.test-body-layout{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.test-main-body{
    padding: 0 10%;
}

.test-aside{
    margin-top: 12%;
}

.test-stopwatch-row{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.test-stopwatch-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.test-minutes{
    justify-self: flex-end;
}

.test-seconds{
    justify-self: flex-start;
}