h1{
    text-align: start;
    padding: 0px;
}

p{
    text-align: start;
}

.header{
    padding: 0 10%;
    
}

.sticky-top{
    position: sticky;
    z-index: 10;
    top: 15%;
    background-color: white;
}

.buttons{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    column-gap: 1%;
    /* justify-items: end; */
}