.sticky-top{
    position: sticky;
    z-index: 10;
    top: 10%;
    background-color: white;
}

.chapter-quiz-header{
    padding: 0 10%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: -40px;
}

h1{
    margin-top: 5%;
}

.buttons{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    column-gap: 1%;
    /* justify-items: end; */
}
