h1{
    padding: 0;
}

p{
    text-align: left;
}

.top{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.enrol-btn{
    align-self: center;
}

.course-page-container{
    padding: 1% 12%;
}